@use 'sass:color';

$defaultBackground: #1f1f1f;
$toastBackground: color.adjust($defaultBackground, $lightness: 5%);
$buttonBackground: #3b5072;
$buttonBackground--hover: color.adjust($buttonBackground, $lightness: -10%);
$buttonBackground-danger: #823232;
$buttonBackground-danger--hover: color.adjust($buttonBackground-danger, $lightness: -10%);

:root {
   --blackPiece: #1f1f1f;
   --blackPieceStroke: #c4c4c4;
   --darkCell: #777e90;
   --lightCell: #888d9b;
   --selectedOverlay: rgba(0, 0, 0, 0.4);
   --hoverOverlay: rgba(0, 0, 0, 0.5);
   --targetCorners: rgba(59, 80, 114, 0.8);
   --targetCornersOver: rgb(113, 61, 61, 0.8);
   --targetText: #080808;
   --targetText--selected: #c8c8c8;
   --wallCell: #2e3037;
   --whitePiece: #d6d6d6;
   --whitePieceStroke: #1f1f1f;
   --textNormal: #d6d6d6;
   --pageBackground: #{$defaultBackground};
   --buttonBackground: #{$buttonBackground};
   --buttonBackground--hover: #{$buttonBackground--hover};
   --buttonText: #d6d6d6;
   --buttonBorder: #{$buttonBackground};
   --buttonBackground-outlined: transparent;
   --buttonBackground-outlined--hover: rgba(255, 255, 255, 0.05);
   --buttonText-outlined: #d6d6d6;
   --buttonBorder-outlined: #{$buttonBackground};
   --buttonBackground-danger: #{$buttonBackground-danger};
   --buttonBackground-danger--hover: #{$buttonBackground-danger--hover};
   --buttonText-danger: #d6d6d6;
   --buttonBorder-danger: #602020;
   --dialogBackground: #{$defaultBackground};
   --dialogBorder: rgb(105, 105, 105);
   --dialogText: #d6d6d6;
   --toastBackground: #{$toastBackground};
   color-scheme: dark light;

   --timing-ease: cubic-bezier(0.25, 0, 0.3, 1);
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: sans-serif;
   background-color: var(--pageBackground);
   color: var(--textNormal);
   box-sizing: border-box;
}

#app {
   display: flex;
   flex-direction: column;
   max-height: 100vh;
   height: 100vh;
}
